{% set sudoers = salt['grains.filter_by'])({
    'Debian':  {'sudo': 'sudo'},
    'Ubuntu':  {'sudo': 'sudo'},
    'CentOS':  {'sudo': 'sudo'},
    'Fedora':  {'sudo': 'sudo'},
    'RedHat':  {'sudo': 'sudo'},
    'Amazon':  {'sudo': 'sudo'},
    'Gentoo':  {'sudo': 'app-admin/sudo'},
    'Mint':    {'sudo': 'sudo'},
    'FreeBSD': {'sudo': 'sudo',
                'config-path': '/usr/local/etc',
                'group': 'wheel'},
}, merge=salt['pillar.get']('sudoers:lookup')) %}
